<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <!-- Часть 2. Задание Vue

Вы разрабатываете приложение для отображения и сортировки списка товаров. У вас есть массив объектов products, где каждый объект представляет товар с его названием и ценой. Вам необходимо отобразить список товаров и предоставить пользователю возможность сортировать товары по цене (по возрастанию и по убыванию). -->
    <div id="app">
        <div class="products">
            <button @click ='sortUp()'>Сортировать по возрастанию</button>
            <button @click ='sortDown()'>Сортировать по убыванию</button>
            <div class="product" v-for="item in products" :key="item.id">
                {{item.name}} {{item.price}}                
            </div>
            <button @click='show'>{{messageButton}}</button>
            <div v-if="Item">
            <div v-for="item in products" :key="item.id">
                {{ item.name }} {{ item.price }}
            </div>
            
        </div>
        
        </div>

    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                products:[
                    { 
                        id:1,
                        name:'bred',
                        price: 80,
                    },
                    { 
                        id:2,
                        name:'milk',
                        price: 70,
                    },
                    { 
                        id:3,
                        name:'butter',
                        price: 230,
                    },
                    { 
                        id:4,
                        name:'sweets',
                        price: 160,
                    },
                ],
                Item: false,
                messageButton:'Покажи'
            },
            methods: {
                sortUp(){
                    this.products.sort(function(a, b){
                        return a.price - b.price
                    })
                },
                sortDown(){
                    this.products.sort(function(a ,b){
                        return b.price - a.price
                    })
                },
                show(){ 
                   this.Item = !this.Item;
                   this.messageButton = this.Item ? 'Убери' : 'Покажи'
                           
                  

                }
            },
        })
    </script>
</body>
</html>